a{
    text-decoration:none;
    color: rgb(50, 50, 50);
}
a:hover{
    color: rgb(200, 0, 0);
}
#text{
    color: rgba(230, 230, 230, 0.7);
    cursor: pointer;
}
#src_a{
    background-color: rgb(255, 255, 255);
}
