<div id="background" oncontextmenu="return false">
    <div id="task" [ngStyle]="{display: task_table_style.style_display?'block':'none'}" (click)="task_table_hide()" (contextmenu)="task_table_hide()">
        <table id="task_info" onClick="event.cancelBubble = true">
            <tr>
                <td class="input_info_text">开始时间:</td>
                <td><input id="" class="input_info" type="datetime-local" value="{{temp_task_starttime}}" #task_start_time/></td>
            </tr>
            <tr>
                <td class="input_info_text">结束时间:</td>
                <td><input id="" class="input_info" type="datetime-local" value="{{temp_task_endtime}}" min="{{temp_task_endtime}}" #task_end_time/></td>
            </tr>
            <tr>
                <td class="input_info_text">计划事务:</td>
                <td><textarea id="input_task" class="input_info" #input_task></textarea></td>
            </tr>
            <tr>
                <td class="input_info_text">周期规则:</td>
                <td><span class="task_cycle" (click)="checkedCycle($event)"><input name="task_cycle" type="radio" onClick="event.cancelBubble = true" value="0" checked="checked">一次</span>
                    <span class="task_cycle" (click)="checkedCycle($event)"><input name="task_cycle" type="radio" onClick="event.cancelBubble = true" value="1">每天</span>
                    <span class="task_cycle disabled" (click)="checkedCycle($event)"><input name="task_cycle" type="radio" onClick="event.cancelBubble = true" value="2" disabled>每月</span>
                    <span class="task_cycle disabled" (click)="checkedCycle($event)"><input name="task_cycle" type="radio" onClick="event.cancelBubble = true" value="3" disabled>每年</span></td>
            </tr>
            <tr>
                <td colspan="2"> <button class="task_info_btn" (click)="addTask()">提交</button></td>
            </tr>
        </table>
    </div>
    <div id="time_table">
        <canvas id="task_canvas" width="300" height="400" (click)="main_right_hide()" (contextmenu)="main_right_view($event)">很抱歉，您的浏览器不支持Canvas，无法展示内容</canvas>
        <canvas id="timeline_canvas" width="300" height="400" (click)="main_right_hide()" (contextmenu)="main_right_view($event)">很抱歉，您的浏览器不支持Canvas，无法展示内容</canvas>
    </div>
    <div id="main_right" class="right_menu" [ngStyle]="{'display':task_main_right_style.style_display?'block':'none',  'top':task_main_right_style.style_top+'px',  'left':task_main_right_style.style_left+'px'}">
        <ul>
            <li (click)="addTaskView($event)">增加任务</li>
            <li (click)="timelineSetView($event)">设置</li>
        </ul>
    </div>
    <div id="task_right" class="right_menu">
        <ul>
            <li (click)="changeTaskView($event)">修改</li>
            <li (click)="deleteTaskView($event)">删除</li>
        </ul>
    </div>
</div>