
/**直观页面**/
#background {
  position:relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  //不屏蔽滚动条，在改变页面高度时，会判定为需要滚动条，改变了宽度，使画的线出现“来回跳跃”现象
  overflow-x: hidden;
  overflow-y: hidden;
}

#time_table {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#timeline_canvas{
  margin: 0px;
  padding: 0px;
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
#task_canvas{
  margin: 0px;
  padding: 0px;
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

/**任务信息**/
#task{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: rgba(110,110,110,0.6);
  display: none;
  z-index: 3;
}
#task_info{
  margin: 0px;
  padding: 0px;
  position:absolute;
  width: 560px;
  height: 300px;
  top:25%;
  left: 35%;
  font-size: 24px;
  background-color: rgb(192, 192, 192);
  box-shadow: 2px 2px 8px 1px #888888;
  border-radius: 3px;
  text-align:center;
}
/**任务信息**/
#timeline_setting{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: rgba(110,110,110,0.6);
  display: none;
  z-index: 3;
}
#timeline_setting_info{
  margin: 0px;
  padding: 0px;
  position:absolute;
  width: 560px;
  height: 300px;
  top:25%;
  left: 35%;
  font-size: 24px;
  background-color: rgb(192, 192, 192);
  box-shadow: 2px 2px 8px 1px #888888;
  border-radius: 3px;
  text-align:center;
}

#input_task{
  height: 80px;
}
.input_info_text{
  text-shadow: 1px 1px 8px 1px #888888;
}
.input_info{
  resize: none;
  outline: none;
  border: none;
  width: 420px;
  font-size: 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 4px 1px #888888;
}
.task_info_btn{
  outline: none;
  font-size: 18px;
}
.task_cycle{
  display:inline-block;
  cursor:pointer;
  width: 20%;
}
.disabled{
  pointer-events: none;
  color: rgb(150, 150, 150);
}

/**右键菜单**/
.right_menu {
  position:absolute;
  background: white;
  box-shadow: 2px 2px 8px 1px #888888;
  display: none;
  z-index: 3;
}
.right_menu ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  float: left;
  padding-left: 0px;
}
.right_menu ul li{
  display: inline-block;
  text-decoration: none;
  color: #555;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.right_menu ul li:first-of-type {
  border-radius: 5px 5px 0 0;
}
.right_menu ul li:hover{
  background: #eee;
  color: #CC1A1A;
}

